<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Factory</title>
</head>
<body>
<div th:switch="${factories}">
    <h2 th:case="null">No factory found!</h2>
    <div th:case="*">
        <h2>Factory</h2>
        <table>
            <thread>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Workers</th>
                    <th>Owner</th>
                </tr>
            </thread>
            <tbody>
            <tr th:each="factory : ${factories}">
                <td th:text="${factory.id}"></td>
                <td th:text="${factory.name}"></td>
                <td th:text="${factory.workers}"></td>
                <td th:text="${factory.owner}"></td>
                <td ><a th:href="@{factory-update/{id}(id=${factory.id})}">Edit</a></td>
                <td ><a th:href="@{factory-delete/{id}(id=${factory.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/factory-create">Create factory</a></p>
</div>
</body>
</html>