<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Factory</title>
</head>
<body>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выход"></input>
</form>
<div th:if="${user.isAdmin()}">
    <a href="/admin">Панель администратора</a>
</div>
<div th:switch="${factories}">
    <h2 th:case="null">No factory found!</h2>
    <div th:case="*">
        <h2>Factory</h2>
        <table>
            <thread>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Workers</th>
                    <th>Owner</th>
                </tr>
            </thread>
            <tbody>
            <tr th:each="factory : ${factories}">
                <td th:text="${factory.id}"></td>
                <td th:text="${factory.name}"></td>
                <td th:text="${factory.workers}"></td>
                <td th:text="${factory.owner}"></td>
                <td th:if="${user.isAdmin()}"><a th:href="@{factory-update/{id}(id=${factory.id})}">Edit</a></td>
                <td th:if="${user.isAdmin()}"><a th:href="@{factory-delete/{id}(id=${factory.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p th:if="${user.isAdmin()}"><a href="/factory-create">Create factory</a></p>
</div>
<div th:switch="${sweets}">
    <h2 th:case="null">No sweet found!</h2>
    <div th:case="*">
        <h2>Sweet</h2>
        <table>
            <thread>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Price</th>
                    <th>Weight</th>
                    <th>Factory</th>
                </tr>
            </thread>
            <tbody>
            <tr th:each="sweet : ${sweets}">
                <td th:text="${sweet.id}"></td>
                <td th:text="${sweet.name}"></td>
                <td th:text="${sweet.type}"></td>
                <td th:text="${sweet.price}"></td>
                <td th:text="${sweet.weight}"></td>
                <td th:text="${sweet.factory}"></td>
                <td th:if="${user.isAdmin()}"><a th:href="@{sweet-update/{id}(id=${sweet.id})}">Edit</a></td>
                <td th:if="${user.isAdmin()}"><a th:href="@{sweet-delete/{id}(id=${sweet.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p th:if="${user.isAdmin()}"><a href="/sweet-create">Create sweet</a></p>
</div>

</body>
</html>